@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Raleway");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

main {
    transition: background-color 0.5s;
}

.bg-black {
    background-color: #000000d4;
}

.cover {
    height: 100vh;
}

.main-title {
    line-height: 60px;
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 55px;
}

@media (max-width: 576px) {
    .main-title {
        font-size: 33px;
    }
}

.subtitle {
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 6px;
    text-transform: uppercase;
    word-spacing: 13px;
    font-family: "Raleway", sans-serif;
    color: rgba(128, 128, 128, 0.9);
}

@media (max-width: 576px) {
    .subtitle {
        font-size: 15px;
    }
}

.down {
    animation-duration: 2s;
    animation-delay: 5s;
}

.pointer {
    cursor: pointer;
}

.project {
    border-radius: 8px;
    height: 300px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(11, 19, 54, 0.19);
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    top: 0;
    transition: top 0.5s, box-shadow 0.5s;
}

.project:hover {
    top: -10px;
    box-shadow: 0 10px 32px 0 rgba(11, 19, 54, 0.19);
}

.project .overlay {
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    transition: opacity 0.5s;
    opacity: 0;
    background-color: #2BAFD8;
    border-radius: 8px;
}
/*New section: INTRO */
.newSec{
    background-color: #7510F7;
    border-radius: 8px;
    color: white;
    padding: 30px;
    box-shadow: 5px 5px 3px 1px rgb(204, 204, 204);
    text-align: center;
    padding: 100px;
    margin-bottom: 60px;
    /* -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out; */ 
}

.bg-black .newSec{
    background-color: snow;
    color: black;
}

.newSec:hover {
    box-shadow: 5px 5px 3px 4px rgb(204, 204, 204);
	/* color: rgba(51, 51, 51, 1);
    background-color: violet; */
    cursor: pointer;
    animation: wiggle 400ms 500ms 4 ease-out;
}

.newSec h1 {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 17px;
    margin-bottom: 30px;
}

.newSec p {
    font-size: medium;
    font-size: 19px;
}
/* End of INTRO */

.overlay .title {
    font-size: 25px;
}

.title.text-light:hover {
    color: white !important;
}


.project:hover .overlay {
    opacity: 0.8;
}

.footer {
    color: white;
    font-family: "Raleway", sans-serif;
}

.mail {
    letter-spacing: 1.5px;
}

.ls-sm {
    letter-spacing: 4px;
    word-spacing: 5px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

footer {
    height: auto;
    background: linear-gradient(90deg, rgba(0, 0, 0, .9) 0%, #f8f9fa 100%);
}

.btn-uwr {
    background: linear-gradient(90deg, rgb(255, 0, 144) 0%, rgb(255, 106, 29) 100%);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 26px;
    text-transform: uppercase;
    border: none;
    border-radius: 36px;
    width: 240px;
}

input.form-control, textarea.form-control {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    outline: none !important;
    color: #fff !important;
    font-family: "Raleway", sans-serif;
}

input.form-control:focus, textarea.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: #fff;
    font-family: "Raleway", sans-serif;
}

button:focus {
    outline: none !important;
}

.my-img {
    height: 210px;
    object-fit: cover;
    width: 210px;
}

/* animation for INTRO */
@keyframes wiggle {
    0% {
        transform: rotateZ(0);
    }
    50%{
        transform: rotateZ(-1deg);
    }
    100% {
        transform: rotateZ(1deg)
    }
}

.skillSec {
    background-color: #7510F7;
    height: 300px;
    max-height: 300px;
    position: relative;
    padding:72px 55px;
    margin-bottom: 440px;
}

.skillSec .skill-col{
    border: 1px solid #E6ECF8;
    height: 600px;
    background: white;
    padding: 35px;
    padding-top: 65px;
}

.purple-text {
    color: #7510F7;
}

.col1 {
    border-top-left-radius: 8px;
}

.col3 {
    border-top-right-radius: 8px;

}

@media(max-width:600px){
    .newSec{
    padding: 33px;
    }
}
    